# Default ignored files
/shelf/
/.idea/workspace.xml
*.xml

# IntelliJ
.idea/

# build
build/
out/

# Gradle Related
gradle/
.gradle/
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
